body { background-color:  #fff;
font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
color: #2e2f42;
margin: 0;
}
a {
text-decoration: none;
}
ul { list-style-type: none }
.navigation {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
text-decoration: none;
background: #fff;
}
.navigation-item {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 156px;
}
.logo-item {
color: #4d5ae5
}
.navigation-list {
display: flex;
flex-direction: row;
gap: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 76px;    
}
.adress-list {
flex-direction: row;
display: flex;
align-items: center;
justify-content: flex-start;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.adress-mail {  
padding-top: 24px;
padding-bottom: 24px;
padding-right: 40px;
padding-left: 332px;
}
.adress-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
padding-right: 156px;
}
.section-button {
background-color: #2e2f42;
} 
.section-button-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
padding-top: 188px;
padding-left: 472px;
padding-right: 472px;
padding-bottom: 48px;
margin: auto;
width: 496px;
height: 120px; 
}
.section-button-order {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
box-shadow: 0 4px 4px 0 ;
background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff
}