body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.navigation {
  text-decoration: none;
  background: #fff;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-item {
  color: #2e2f42;
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.adress-mail-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-tel-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-button {
  background: #2e2f42;
}
.section-button-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.section-button-item {
  font-family: 'Roboto', sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.contacts {
  font-style: normal;
}
.adress-mail-item .link {
  color: #434455;
}
.adress-mail-item .link:hover,
.adress-mail-item .link:focus {
  color: #404bbf;
}
.adress-tel-item .link {
  color: #434455;
}
.adress-tel-item .link:hover,
.adress-tel-item .link:focus {
  color: #404bbf;
}
.section-button .section-button-item {
  background: #4d5ae5;
}
.section-button .section-button-item:hover,
.section-button .section-button-item:focus {
  background: #404bbf;
}
.navigation-list-item-studio .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-studio .navigation-link:hover,
.navigation-list-item-studio .navigation-link:focus {
  color: #404bbf;
}
.navigation-list-item-studio .navigation-link:active {
  color: #404bbf;
}
.navigation-list-item-studio .navigation-link:active {
  text-decoration: underline;
}
.navigation-list-item-portfolio .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-portfolio .navigation-link:hover,
.navigation-list-item-portfolio .navigation-link:focus {
  color: #404bbf;
}
.navigation-list-item-contacts .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-contacts .navigation-link:hover,
.navigation-list-item-contacts .navigation-link:focus {
  color: #404bbf;
}
.section-adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-adv-title-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-sec {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-conteiner-item {
  background: #fff;
}
.team-conteiner-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-conteiner-item-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.elements-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.elements-title-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.conteiner-footer {
  background: #2e2f42;
}
.footer-logo-item {
  color: #f4f4fd;
}
.footer-logo-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(#f4f4fd);
}
