body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  border: none;
  background-size: auto;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}
.logo-item {
  color: #2e2f42;
}
.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.adress-mail-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-tel-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-button {
  background: #2e2f42;
}
.section-button-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}
.section-button-item {
  font-family: 'Roboto', sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.contacts {
  font-style: normal;
}
.adress-mail-item .link {
  color: #434455;
}
.adress-mail-item .link:hover,
.adress-mail-item .link:focus {
  color: #404bbf;
}
.adress-tel-item .link {
  color: #434455;
}
.adress-tel-item .link:hover,
.adress-tel-item .link:focus {
  color: #404bbf;
}
.section-button .section-button-item {
  background: #4d5ae5;
}
.section-button .section-button-item:hover,
.section-button .section-button-item:focus {
  background: #404bbf;
}
.navigation-list-item-studio .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-studio .navigation-link:hover,
.navigation-list-item-studio .navigation-link:focus {
  color: #404bbf;
}
.navigation-list-item-studio .navigation-link:active {
  color: #404bbf;
}
.navigation-list-item-studio .navigation-link:active {
  text-decoration: underline;
}
.navigation-list-item-portfolio .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-portfolio .navigation-link:hover,
.navigation-list-item-portfolio .navigation-link:focus {
  color: #404bbf;
}
.navigation-list-item-contacts .navigation-link {
  color: #2e2f42;
}
.navigation-list-item-contacts .navigation-link:hover,
.navigation-list-item-contacts .navigation-link:focus {
  color: #404bbf;
}
.section-adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-adv-title-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-sec {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-conteiner-item {
  background: #fff;
}
.team-conteiner-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-conteiner-item-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.elements-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.elements-title-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.conteiner-footer {
  background: #2e2f42;
}
.footer-logo-item {
  color: #f4f4fd;
}
:root {
  --color1: #f4f4fd;
}
.footer-logo-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color1);
}
.conteiner {
  max-width: 1158px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.conteiner-nav {
  display: flex;
  margin-right: auto;
  align-items: baseline;
}
.conteiner-nav-list {
  display: flex;
  gap: 40px;
  padding-left: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.adress-mail-item,
.adress-tel-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.conteiner-button {
  align-items: center;
  flex-direction: column;
}
.section-button-title {
  text-align: center;
  margin-bottom: 48px;
  width: 496px;
}
.section-button-item {
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.section-adv-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-adv-list {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 24px;
}
.section-adv-title {
  margin-top: 0;
  margin-bottom: 8px;
}
.section-adv-list-item {
  width: calc((100% - 72px) / 4);
  padding-left: 0;
  margin: 0;
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-conteiner {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-conteiner-item {
  width: calc((100%-72px) / 4);
  margin: auto;
}
.team-conteiner-item-name {
  margin-bottom: 8px;
  margin-top: 32px;
  text-align: center;
}
.team-conteiner-item-speciality {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}
.conteiner-team {
  display: flex;
  flex-direction: column;
}
.conteiner-port {
  display: flex;
  flex-direction: column;
}
.portfolio-list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  margin: auto;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
}
.elements-title {
  margin-bottom: 8px;
  margin-top: 32px;
  padding-left: 16px;
}
.elements-title-item {
  margin-bottom: 32px;
  padding-left: 16px;
}
.logo-footer {
  margin: 0 0 16px 0;
}
.conteiner-footer-logo {
  flex-direction: column;
  margin-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-item-link {
  margin: 0;
  width: 264px;
}
