body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-item {
  color: #2e2f42;
}
.container-navi {
  align-items: center;
  display: flex;
}
.container-navi-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.navigation-list-item {
  padding: 24px 0;
}
.navigation-link,
.navigation-link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-button {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.section-button-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}
.section-button-item {
  font-family: 'Roboto', sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
}
.contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
  padding: 24px 0;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.section-button .section-button-item {
  background: #4d5ae5;
}
.section-button .section-button-item:hover,
.section-button .section-button-item:focus {
  background: #404bbf;
}
.navigation-list-item-studio .navigation-link {
  color: #2e2f42;
}
.navigation-link-studio:hover,
.navigation-link-studio:focus {
  color: #404bbf;
}
.navigation-link-studio:active {
  color: #404bbf;
}
.navigation-link-studio:active {
  text-decoration: underline;
}
.navigation-link {
  color: #2e2f42;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-adv-title-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-sec {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-container-item {
  background: #fff;
}
.team-container-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-container-item-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.elements-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.elements-title-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.container-footer {
  background: #2e2f42;
}
.footer-logo-item {
  color: #f4f4fd;
}
:root {
  --color1: #f4f4fd;
}
.footer-logo-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color1);
}
.container {
  max-width: 1158px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 0;
  margin-bottom: 0;
}

.container-button {
  align-items: center;
  flex-direction: column;
}
.section-button-title {
  text-align: center;
  margin-bottom: 48px;
  width: 496px;
}
.section-button-item {
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.section-adv-list {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 24px;
}
.section-adv-title {
  margin-top: 0;
  margin-bottom: 8px;
}
.section-adv-list-item {
  width: calc((100% - 72px) / 4);
  padding-left: 0;
  margin: 0;
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.team-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-container-item {
  width: calc((100% - 72px) / 4);
  margin: auto;
  border-radius: 0px 0px 4px 4px;
}
.container-item {
  padding: 32px 0;
}

.team-container-item-name {
  margin-bottom: 8px;
  text-align: center;
}

.team-container-item-speciality {
  text-align: center;
}

.container-team {
  display: flex;
  flex-direction: column;
}
.container-port {
  display: flex;
  flex-direction: column;
}
.portfolio-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.elements-title {
  margin-bottom: 8px;
}

.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-item-link {
  max-width: 264px;
}
.container-link {
  display: block;
}
