/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4
}

body {
    margin: 0
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}
body { background-color:  #fff;
font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
color: #2e2f42;
margin: 0;
}
a {
text-decoration: none;
}
ul { list-style-type: none }
.navigation {
display: flex;
text-decoration: none;
background: #fff;
height: 72px;
}
.navigation-item {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 156px;
}
.logo-item {
color: #4d5ae5
}
.navigation-list {
display: flex;
flex-direction: row;
gap: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 76px;    
}
.adress-list {
flex-direction: row;
display: flex;
gap: 40px;
margin: auto;
}
.adress-mail {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 332px;
color: #434455;
}
.adress-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
padding-right: 156px;
color: #434455;

}
.section-button {
background: #2e2f42;
box-sizing: border-box;
text-align: center;
height: 600px;
} 
.section-button-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
padding-top: 188px;
padding-left: 472px;
padding-right: 472px;
padding-bottom: 48px;
margin: auto;
}
.section-button-item {
box-sizing: border-box;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border-radius: 4px;
border: none;
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
}
.adress-list .link {
color: #434455
}
.adress-list .link:hover {
color: #404BBF
}
.section-button .section-button-item {
background: #4d5ae5;
}
.section-button .section-button-item:hover {
background: #404BBF
}
.navigation-list .navigation-studio {
color: #2E2F42
}
.navigation-list .navigation-studio:hover {
color: #404BBF
}
.navigation-list .navigation-studio:active {
color: #404BBF }
.navigation-list .navigation-studio:active {
text-decoration: underline;
}
.navigation-list .navigation-portfolio {
color: #2E2F42
}
.navigation-list .navigation-portfolio:hover {
color: #404BBF
}
.navigation-list .navigation-contacts {
color: #2E2F42
}
.navigation-list .navigation-contacts:hover {
color: #404BBF;
}
.navigation-item .logo:hover {
border: 3px solid #404BBF;
}
.section-adv-list {
padding-top: 120px;
padding-left: 156px;
padding-right: 156px;
padding-bottom: 120px;
display: flex;

}



.section-adv-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
margin-bottom: 8px;
margin-top: 0;
}
.section-adv-title-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 0;
margin-bottom: 0;
text-align: left;

}
.section-adv-list-item {
margin-left: 24px;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 264px;
height: 104px;
}
.team-section {
background: #f4f4fd;

}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 120px;
}
